# Build directories
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.cmake

# Visual Studio specific
*.vcxproj*
*.sln
*.user
*.ipch
*.opensdf
*.VC.db
*.VC.VC.opendb
*.filters

# Temporary files
*.log
*.tmp
*.bak
*.swp
